body {
    /* My Palette */
    /* Titlebar */
    --inf-grey1: #16171e;
    /* Side-est-bar */
    --inf-grey2: #1a1c23;
    /* Sidebar */
    --inf-grey3: #23252e;
    /* Body */
    --inf-grey4: #272a34;
    /* Buttons */
    --inf-grey5: #323643;

    /* Primary Blue */
    --inf-blue1: #2777ff;
    /* Secondary Blue */
    --inf-blue2: #005af3;

    /* Text */
    --inf-white3: #eeeeec;
    /* Sidebar Icons */
    --inf-white2: #bbbbbd;
    /* Inactive (Used with sidebar) */
    --inf-white1: #888a8d;

    margin: 0px;
    background-image: url("./images/background.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    user-select: none;
    color: var(--inf-white3);
    font-family: Ubuntu;
}

#panel {
    position: absolute;
    top: 0px;
    background-color: #1b1d24;
    width: 100%;
    height: 32px;
    border-bottom: #111217 1px solid;
    box-sizing: content-box;
}

#panel-left {
    position: absolute;
    left: 0px;
}

#panel-right {
    position: absolute;
    right: 0px;
}

#panel-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#distro-logo {
    height: 22px;
    width: 22px;
    padding: 5px;
}

#leave-icon {
    height: 16px;
    width: 16px;
    padding: 8px;
}

.panel-hover:hover {
    background-color: #15161c;
}

#leave-menu {
    position: absolute;
    top: 32px;
    right: 0px;
    background-color: var(--inf-grey3);
    border: #111217 solid 1px;
    border-radius: 8px;
    padding: 4px 0px;
    width: 120px;
}

.leave-menu-option {
    height: 24px;
}

.leave-menu-option:hover {
    background-color: var(--inf-blue1);
}

.leave-menu-icon {
    height: 16px;
    width: 16px;
    padding: 4px;
    display: inline-block;
    vertical-align: middle;
}

.leave-menu-span {
    font-size: 11pt;
    display: inline-block;
    vertical-align: middle;
}